---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import SectionContainer from '../components/SectionContainer.astro';
import LinkedInIcon from '../components/icons/LinkedIn.astro';
import EducationIcon from '../components/icons/Education.astro';
import SocialPill from '../components/SocialPill.astro';
import GitHubIcon from '../components/icons/GitHub.astro';
import MailIcon from '../components/icons/Mail.astro';
import Experience from '../components/Experience.astro';
import Education from '../components/Education.astro';
import Briefcase from '../components/icons/Briefcase.astro';
import CodeIcon from '../components/icons/Code.astro';
import Projects from '../components/Projects.astro';
---

<Layout
  title="José Daniel Posso Garcia - Developer | Cloud Architect | Tech Entrepreneur"
  description="Profesional con más de 6 años de experiencia en proyectos de TI. Especializado en liderazgo técnico, arquitectura de soluciones en la nube, y desarrollo full-stack."
>
  <main class="px-4">
    <SectionContainer class="py-44 pb-32">
      <img
        class="rounded-full size-12 mb-4"
        src="/daniel7byte.jpeg"
        alt="Jose Daniel Profile Image"
      />
      <h1
        class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Hola, soy José Daniel <a
          href="https://linkedin.com/in/jose-daniel-posso-garcia"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2 class="text-xl lg:text-2xl text-balance max-w-[700px]">
        <span class="text-yellow-200"
          >💻 Developer | ☁️ Cloud Architect | 🚀 Tech Entrepreneur</span
        >
        <br /><br />
        Profesional con más de <span class="text-yellow-200"
          >6 años de experiencia</span
        > en proyectos de TI. Más de 2 años de experiencia construyendo y <span
          class="text-yellow-200">liderando equipos técnicos</span
        >, con muy buena comunicación y aplicando metodologías ágiles.
        <br /><br />
        Experiencia en <span class="text-red-200"
          >Scrum, arquitectura de software en la nube, CI/CD, automatización,
          bases de datos (SQL y NoSQL)</span
        >, adicionalmente diferentes lenguajes de programación.
        <br /><br />
        Mi lema de vida es <span class="text-sky-200"
          >"Si no lo sé, lo aprenderé".</span
        >
        <br /><br />
        <span class="text-sky-200">Competente en:</span> Leadership, Project Management,
        Scrum, Kanban, Node.JS, Express.JS, Sockets, SQL y NoSQL, Redis, Microservices,
        Google Cloud Platform, Cron Jobs, Automation, Docker y CI/CD
      </h2>

      <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialPill href="https://linkedin.com/in/jose-daniel-posso-garcia">
          <LinkedInIcon class="size-4 md:size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/daniel7byte">
          <GitHubIcon class="size-4 md:size-6" />
          GitHub
        </SocialPill>
        <SocialPill href="mailto:daniel7byte@gmail.com">
          <MailIcon class="size-4 md:size-6" />
          daniel7byte@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <Briefcase class="size-7" />
        Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <EducationIcon class="size-7" />
        Educación
      </h2>
      <Education />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <CodeIcon class="size-7" />
        Proyectos destacados
      </h2>
      <Projects />
    </SectionContainer>
  </main>
</Layout>
