---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Noviembre 2024 - Presente",
    title: "Dev Tech Lead − Nub8 LATAM",
    description:
      "Liderando equipos técnicos y proyectos de desarrollo. Trabajo como desarrollador full-stack en diferentes proyectos, usando tecnologías como Python para procesamiento de imágenes satelitales, AWS SST framework para infraestructura como código, y construyendo arquitecturas serverless en AWS.",
  },
  {
    date: "Febrero 2023 - Presente",
    title: "Software Engineer − Nub8 LATAM",
    description:
      "Desarrollo full-stack en diferentes proyectos utilizando Python para procesamiento de imágenes satelitales, AWS SST framework para infraestructura como código, y construcción de arquitecturas serverless en AWS.",
  },
  {
    date: "Agosto 2023 - Presente",
    title: "Co-Founder & CTO − Doru",
    description:
      "Co-fundador y Director de Tecnología en startup enfocada en soluciones tecnológicas innovadoras. Liderando la estrategia técnica y el desarrollo de productos.",
  },
  {
    date: "Agosto 2022 - Febrero 2023",
    title: "Lead Engineer − Gingertec",
    description:
      "Planificación técnica, implementación de buenas prácticas y metodologías ágiles, dirección de ceremonias Scrum, definición de tareas técnicas para Sprints, mentoring y pair-programming. Programador en equipo backend. Tecnologías: Scrum, ClickUp, AWS EC2, Node.JS, MongoDB.",
  },
  {
    date: "Octubre 2022 - Diciembre 2022",
    title: "Chief Technology Officer − tura.community",
    description:
      "Asesoramiento en temas tecnológicos para la empresa, definición de estrategias técnicas y arquitectura de soluciones.",
  },
  {
    date: "Noviembre 2020 - Septiembre 2022",
    title: "Chief Technology Officer − Adomi Delivery",
    description:
      "Planificación estratégica para lograr objetivos técnicos de la plataforma. Reclutamiento y mentoring del equipo. Desarrollo de arquitectura en la nube basada en microservicios. Reducción de costos en la nube y aumento de velocidad de respuesta usando soluciones técnicas creativas como cache con Redis y servicios Serverless. Desarrollo de sistemas de monitoreo y alertas.",
  },
  {
    date: "Agosto 2021 - Julio 2022",
    title: "Chief Executive Officer − Crops Rent",
    description:
      "Emprendimiento en el sector agrícola, construcción y liderazgo de equipo comprometido con el desarrollo tecnológico. Tecnologías: Scrum, Slack, Arduino, IoT, C++, Node.JS, AdonisJS, Prisma ORM, MQTT.",
  },
]
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
